BIZNISOFT_SOAP_BASE_URL=http://localhost:8080
BIZNISOFT_SOAP_URL=http://79.175.71.83:58080/soap/IBSWebService
BIZNISOFT_COMPANY_ID=
BIZNISOFT_COMPANY_YEAR=2026
BIZNISOFT_USERNAME=
BIZNISOFT_PASSWORD=
